@model MLMBioWill.Models.CompanyViewModel
@using MLMBiowillBusinessEntities.Common;
@using MLMBioWill.Common;

<script src="~/Scripts/Master/Company/Company-events.js"></script>
<script src="~/Scripts/Master/Company/Company-validations.js"></script>
<script src="~/Scripts/Master/Company/Company-methods.js?"></script>

<form role="form" id="frmCompany">

    <input type="hidden" id="hdnSearchCompanyId" value="" name="Filter.CompanyId" />
    <input type="hidden" id="hdnCompanyId" value="@Model.Company.CompanyId" name="Company.CompanyId" />

    <div class="row">
        </br>
    </div>
    <div class="row">

        <div class="col-md-4">
            <label for="" id="lblCompanyName">Company Name</label>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter company name" name="Company.CompanyName" id="txtCompanyName" maxlength="50" value="@Model.Company.CompanyName">
                    <input type="hidden" id="hdnCompanyName" value="@Model.Company.CompanyName">
                    @*<span class="input-group-addon">
                            <i class="fa fa-sort-alpha-asc"></i>
                        </span>*@
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <label for="" id="lblGSTNumber">GST Number</label>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter GST Number" name="Company.GSTNumber" id="txtGSTNumber" maxlength="15" value="@Model.Company.GSTNumber">
                    <input type="hidden" id="hdnGSTNumber" value="@Model.Company.GSTNumber">
                    @*<span class="input-group-addon">
                            <i class="fa fa-sort-alpha-asc"></i>
                        </span>*@
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <label for="" id="lblPAN">PAN Details</label>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter PAN Details" name="Company.PAN" id="txtPAN" maxlength="15" value="@Model.Company.PAN">
                    <input type="hidden" id="hdnPAN" value="@Model.Company.PAN">
                    @*<span class="input-group-addon">
                            <i class="fa fa-sort-alpha-asc"></i>
                        </span>*@
                </div>
            </div>
        </div>

    </div>


    <div class="row">
   
        <div class="col-md-4">
            <label for="">Set Active</label>
            <div class="form-group">
                <div class="input-group">
                    @if (Model.Company.IsActive)
                    {
                        <input class="js-switch" data-color="#1bc044" data-switchery="true" checked="checked" value="@Model.Company.IsActive.ToString()" name="Company.IsActive" type="checkbox" id="Flag">
                    }
                    else
                    {
                        <input class="js-switch" data-color="#1bc044" data-switchery="true" value="@Model.Company.IsActive.ToString()" name="Company.IsActive" type="checkbox" id="Flag">
                    }
                </div>
            </div>
        </div>

    </div>

    <br />

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">

                <button type="button" id="btnSaveCompany" class="btn btn-success btn-rounded label-left w-min-sm m-b-0-75 waves-effect waves-light"><span class="btn-label"><i class="ti-save"></i></span>Save</button>
                <button type="button" id="btnResetCompany" class="btn btn-warning btn-rounded label-left w-min-sm m-b-0-75 waves-effect waves-light"><span class="btn-label"><i class="ti-reload"></i></span>Reset</button>
                <a href="Search" class="btn btn-info btn-rounded label-left m-b-0-25 waves-effect waves-light"><span class="btn-label"><i class="ti-angle-double-left"></i></span>Back</a>


                @*<button type="button" class="btn btn-success label-left m-b-0-25 waves-effect waves-light" id="btnSaveCompany"><span class="btn-label"><i class="ti-save"></i></span>Save</button>
                    <button type="reset" class="btn btn-warning label-left m-b-0-25 waves-effect waves-light" id="btnResetCompany"><span class="btn-label"><i class="ti-reload"></i></span>Reset</button>
                    <a href="Search" class="btn btn-info label-left m-b-0-25 waves-effect waves-light" id="btnBackCompany"><span class="btn-label"><i class="ti-angle-double-left"></i></span>Back</a>*@

            </div>
        </div>
    </div>

</form>
