@model MLMBioWill.Models.UserManagement.RoleViewModel
@using MLMBiowillBusinessEntities.Common;

<script src="~/Content/js/forms-pickers.js"></script>

<script src="~/Scripts/UserManagement/Role/role-event.js"></script>
<script src="~/Scripts/UserManagement/Role/role-method.js"></script>
<script src="~/Scripts/UserManagement/Role/role-validation.js"></script>


<div class="content-area p-y-1">
    <div class="container-fluid">

        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <h4>Role</h4>
                    <ol class="breadcrumb no-bg m-b-1">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Role</a></li>
                        <li class="breadcrumb-item"><a href="#">Search</a></li>
                        <li class="breadcrumb-item active">Create</li>
                    </ol>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group" style="text-align: right; padding-top: 8px;">
                    <span data-toggle="tooltip" data-placement="left" title="" data-color="tooltip-info" data-original-title="Help / Info">
                        <a href="#" class="btn btn-info btn-circle waves-effect waves-light" data-toggle="modal" data-target=".help_info">
                            <i class="ti-info"></i>
                        </a>
                    </span>
                </div>
            </div>

        </div>

        <div class="box box-block bg-white">
            <form id="frmRole" role="form">
                <input type="hidden" id="hdnRoleId" value="@Model.Role.RoleId" name="Role.RoleId">

                <div class="card">
                    <h5 class="card-header">
                        <span style="vertical-align: middle;" class="s-icon"><i class="ti-wand"></i></span> &nbsp; Role Create
                    </h5>
                    <div class="card-block p-t-0 p-b-0">

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Role Name</label>
                                    <input id="txtRoleName" name="Role.RoleName" type="text" class="form-control" placeholder="Enter role name" value="@Model.Role.RoleName" />
                                    <input type="hidden" id="hdnRoleName" value="@Model.Role.RoleName" class="form-control" name="Role.RoleName" />
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label for="">Set Active</label>
                                <div class="input-group">

                                    @if (Model.Role.IsActive == true)
                                    {
                                        <input class="js-switch" data-color="#1bc044" checked="checked" data-switchery="true" value="@Model.Role.IsActive.ToString()" name="Role.activeFlg" type="checkbox" id="activeFlg">
                                    }
                                    else
                                    {
                                        <input class="js-switch" data-color="#1bc044" data-switchery="true" value="@Model.Role.IsActive.ToString()" name="Role.activeFlg" type="checkbox" id="activeFlg">
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">

                                <table class="table m-b-0">
                                    <thead class="thead-inverse">
                                        <tr>
                                            <th>#</th>
                                            <th>Module Name</th>
                                            <th>Has Access</th>
                                            <th>Create</th>
                                            <th>Edit</th>
                                            <th>View</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int count = 1;
                                            foreach (var item in Model.Role.Modules)
                                            {
                                                string isDisabled = "";
                                                if (!item.HasAccess)
                                                {
                                                    isDisabled = "disabled=disabled";
                                                }
                                                else
                                                {
                                                    isDisabled = "";
                                                }
                                                <tr class="access-function" id="">
                                                    <td>@count</td>
                                                    <td>
                                                        <label for="">@item.ModuleName</label>
                                                        <input type="hidden" name="" class="module-id" id="hdnId_@count" value="@item.ModuleId" />
                                                        <input type="hidden" name="Role.ModuleName" class="module-name" data-access-function="true" id="hdnModuleAccess" value="@item.ModuleName" />
                                                    </td>
                                                    @*<td><%= html.access("has-access"+item.Key toString())%></td>*@
                                                    <td>
                                                        <label class="custom-control custom-checkbox">

                                                            @if (item.HasAccess)
                                                            {
                                                                <input type="checkbox" class="custom-control-input has-access" checked value="true" id="chkHasAccess">
                                                            }
                                                            else
                                                            {
                                                                <input type="checkbox" class="custom-control-input has-access" value="false" id="chkHasAccess">
                                                            }
                                                            <span class="custom-control-indicator"></span>
                                                            <!--<span class="custom-control-description">Check this custom checkbox</span>-->
                                                        </label>
                                                    </td>
                                                    <td>
                                                        <label class="custom-control custom-checkbox">

                                                            @if (item.IsCreate)
                                                            {
                                                                <input type="checkbox" @isDisabled class="custom-control-input has-create access" checked value="true" id="chkIsCreate">
                                                            }
                                                            else
                                                            {
                                                                <input type="checkbox" @isDisabled class="custom-control-input has-create access" value="false" id="chkIsCreate">
                                                            }


                                                            <span class="custom-control-indicator"></span>
                                                            <!--<span class="custom-control-description">Check this custom checkbox</span>-->
                                                        </label>
                                                    </td>
                                                    <td>
                                                        <label class="custom-control custom-checkbox">
                                                            @if (item.IsEdit)
                                                            {
                                                                <input type="checkbox" @isDisabled class="custom-control-input has-edit access" checked value="true" id="chkIsEdit">
                                                            }
                                                            else
                                                            {
                                                                <input type="checkbox" @isDisabled class="custom-control-input has-edit access" value="false" id="chkIsEdit">
                                                            }
                                                            <span class="custom-control-indicator"></span>
                                                            <!--<span class="custom-control-description">Check this custom checkbox</span>-->
                                                        </label>
                                                    </td>
                                                    <td>
                                                        <label class="custom-control custom-checkbox">
                                                            @if (item.IsView)
                                                            {
                                                                <input type="checkbox" @isDisabled class="custom-control-input has-view access" checked value="true" id="chkIsView">
                                                            }
                                                            else
                                                            {
                                                                <input type="checkbox" @isDisabled class="custom-control-input has-view access" value="false" id="chkIsView">
                                                            }
                                                            <span class="custom-control-indicator"></span>
                                                            <!--<span class="custom-control-description">Check this custom checkbox</span>-->
                                                        </label>
                                                    </td>
                                                    <td>
                                                        <label class="custom-control custom-checkbox">
                                                            @if (item.IsDelete)
                                                            {
                                                                <input type="checkbox" @isDisabled class="custom-control-input has-delete access" checked value="true" id="chkIsDelete">
                                                            }
                                                            else
                                                            {
                                                                <input type="checkbox" @isDisabled class="custom-control-input has-delete access" value="false" id="chkIsDelete">
                                                            }
                                                            <span class="custom-control-indicator"></span>
                                                            <!--<span class="custom-control-description">Check this custom checkbox</span>-->
                                                        </label>
                                                    </td>
                                                </tr>
                                                            count++;
                                            }

                                        }

                                    </tbody>
                                </table>

                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">

                                    <button type="button" id="btnSaveRole" class="btn btn-success btn-rounded label-left w-min-sm m-b-0-75 waves-effect waves-light"><span class="btn-label"><i class="ti-save"></i></span>Save</button>
                                    <button type="reset" id="btnResetRole" class="btn btn-warning btn-rounded label-left w-min-sm m-b-0-75 waves-effect waves-light"><span class="btn-label"><i class="ti-reload"></i></span>Reset</button>
                                    <a href="/Role/Search" class="btn btn-info btn-rounded label-left m-b-0-25 waves-effect waves-light"><span class="btn-label"><i class="ti-angle-double-left"></i></span>Back</a>


                                    @*<button type="button" id="btnSaveRole" class="btn btn-success label-left m-b-0-25 waves-effect waves-light"><span class="btn-label"><i class="ti-save"></i></span>Save</button>
                                    <button type="reset" id="btnResetRole" class="btn btn-warning label-left m-b-0-25 waves-effect waves-light"><span class="btn-label"><i class="ti-reload"></i></span>Reset</button>
                                    <a href="/Role/Search" class="btn btn-info label-left m-b-0-25 waves-effect waves-light"><span class="btn-label"><i class="ti-angle-double-left"></i></span>Back</a>*@
                               
                                
                                 </div>
                            </div>
                        </div>


                    </div>
                </div>

            </form>
        </div>
    </div>

</div>


<div class="modal fade help_info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    <span style="vertical-align: middle;" class="s-icon"><i class="ti-info-alt"></i></span> &nbsp; Help / Info
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-unstyled" style="padding-left: 5px;">
                            <li><i class="fa fa-circle-o text-info mr-0-5"></i> Role create page is used to Create a Role or Update Role.</li>
                            <li>
                                <i class="fa fa-circle-o text-info mr-0-5"></i> Role create page contains following functionality.
                                <ul class="list-unstyled mb-1" style="padding-left: 15px;">
                                    <li> <button type="button" class="btn btn-success label-left m-b-0-25 waves-effect waves-light"><span class="btn-label"><i class="ti-save"></i></span>Save</button> - On click of Save button, It Saves the Role Data if all the required fields inputted.</li>
                                    <li> <a class="btn btn-warning label-left m-b-0-25 waves-effect waves-light"><span class="btn-label"><i class="ti-reload"></i></span>Reset</a> - On click of Reset button, It resets the data to its Original values.</li>
                                    <li> <a href="Search" class="btn btn-info label-left m-b-0-25 waves-effect waves-light"><span class="btn-label"><i class="ti-angle-double-left"></i></span>Back</a> - On click of Cancel button,  It Redirects to the Role Listing Page.</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>