@{

}
<!-- Sidebar -->

<div class="site-overlay"></div>

<div class="site-sidebar">

    <div class="custom-scroll custom-scroll-dark">

        @*@if (sessionInfo != null && sessionInfo.LstModule != null && sessionInfo.LstModule.Count > 0)
            {*@

        <ul class="sidebar-menu">

            @*Dashboard Region Start*@

            <li>
                <a href="/Dashboard/Index" class="waves-effect  waves-light">
                    <span class="s-icon"><i class="fa fa-dashboard"></i></span>
                    <span class="s-text">Dashboard</span>
                </a>
            </li>

            @*<li>
                    <a href="/Home/Dashboard" class="waves-effect  waves-light">
                        <span class="s-icon"><i class="fa fa-dashboard"></i></span>
                        <span class="s-text">Dashboard 1</span>
                    </a>
                </li>*@

            @*Dashboard Region End*@

            <li class="with-sub">
                <a href="#" class="waves-effect  waves-light">
                    <span class="s-caret"><i class="fa fa-angle-down"></i></span>
                    @*<span class="tag tag-purple">3</span>*@
                    <span class="s-icon"><i class="ti-anchor"></i></span>
                    <span class="s-text">Common Master</span>
                </a>
                <ul>
                    <li><a href="@Url.Action("Index","Country")">Country</a></li>
                    <li><a href="@Url.Action("Index","State")">State</a></li>
                    <li><a href="@Url.Action("Index","City")">City</a></li>
                    <li><a href="@Url.Action("Index","Designation")">Designation</a></li>
                    <li><a href="@Url.Action("Index","Department")">Department</a></li>
                    <li><a href="@Url.Action("Index","Bank")">Bank</a></li>
                    @*<li><a href="">Series</a></li>*@
                    <li><a href="">Agent Levels</a></li>
                    <li><a href="">Commission Limit</a></li>
                    <li><a href="">Extra Commission</a></li>
                    <li><a href="@Url.Action("Index", "Category")">Category</a></li>
                    <li><a href="@Url.Action("Index", "Subcategory")">SubCategory</a></li>

                </ul>
            </li>


            @*Master Region Start*@


            <li class="with-sub">
                <a href="#" class="waves-effect  waves-light">
                    <span class="s-caret"><i class="fa fa-angle-down"></i></span>
                    @*<span class="tag tag-purple">3</span>*@
                    <span class="s-icon"><i class="fa fa-angle-down"></i></span>
                    <span class="s-text">Company Master</span>
                </a>
                <ul>
                    <li><a href="/Company/Search">Company</a></li>
                    <li><a href="@Url.Action("Index","Branch")">Branch</a></li>
                    <li><a href="">Warehouse</a></li>
                </ul>
            </li>

            <li>
                <a href="#" class="waves-effect  waves-light">
                    <span class="s-icon"><i class="ti-anchor"></i></span>
                    <span class="s-text">Bank Master</span>
                </a>

            </li>

            @*User Management Region Start*@

            <li class="with-sub">
                <a href="#" class="waves-effect  waves-light">
                    <span class="s-caret"><i class="fa fa-angle-down"></i></span>
                    <span class="s-icon"><i class="fa fa-user"></i></span>
                    <span class="s-text">User Management</span>
                </a>
                <ul>
                    <li><a href="/User/Search">Employee Management</a></li>
                    <li><a href="/User/Search">User</a></li>
                    <li><a href="@Url.Action("Search","Role")">Role</a></li>
                </ul>
            </li>

            @*User Management Region End*@

            <li>
                <a href="#" class="waves-effect  waves-light">
                    <span class="s-icon"><i class="ti-android"></i></span>
                    <span class="s-text">Agent Master</span>
                </a>
            </li>


            <li>
                <a href="#" class="waves-effect  waves-light">
                    <span class="s-icon"><i class="ti-reddit"></i></span>
                    <span class="s-text">Courier Master</span>
                </a>
            </li>
            <li>
                <a href="#" class="waves-effect  waves-light">
                    <span class="s-icon"><i class="ti-user"></i></span>
                    <span class="s-text">Customer</span>
                </a>
            </li>

          


        </ul>


    </div>
</div>

<!-- Sidebar second -->
<!-- Template options -->
@*<li>
        <a href="/Accessories/Index" class="waves-effect  waves-light">
            <span class="s-icon"><i class="fa fa-group"></i></span>
            <span class="s-text">Accessories</span>
        </a>
    </li>*@


@*<li><a href="/TaxFormulaCalDemo/Index">Tax Formula Calculation Demo</a></li>*@


